@using lib.DTO
@using Frontend.Data
@inject IPeopleService PeopleService

<Table TItem="PersonDto" DataSource="@People">
    <Column @bind-Field="@context.Id"/>
    <Column Title="First name" @bind-Field="@context.FirstName"/>
    <Column Title="Last name" @bind-Field="@context.LastName"/>
    <Column @bind-Field="@context.Email"/>
    @if(PeopleType == PersonType.Patient)
    {
        <Column Title="Cpr number" @bind-Field="@context.CphNumber"/>
    }
    else if(PeopleType == PersonType.Pharmaceut)
    {
        <Column Title="Pharmacy name" @bind-Field="@context.PharmacyName" />
    }
    <ActionColumn>
        <Space>
            <SpaceItem>
                <Button OnClick="() => OnViewDataClicked(context)">View other pages as user</Button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>


@code {
    [Parameter]
    public PersonType? PeopleType { get; set; } = null;

    public IEnumerable<PersonDto> People { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        if (PeopleType == null)
            People = Enumerable.Empty<PersonDto>();
        else
            People = await PeopleService.GetPeopleAsync(PeopleType.Value);
    }

    private void OnViewDataClicked(PersonDto person)
    {
        Console.WriteLine("Your MOm!!");
    }
}
