


<Table TItem="PrescriptionDto" DataSource="Prescriptions">
    <Column @bind-Field="context.Id"/>
    @if(PeopleType != PersonType.Doctor)
    {
        <Column Title="Doctor" TData="string">
            @context.Doctor.FirstName @context.Doctor.LastName
        </Column>
    }
    @if(PeopleType == PersonType.Doctor)
    {
        <Column Title="Patient" TData="string">
            @context.Patient.FirstName @context.Patient.LastName
        </Column>
    }
    <Column Title="Medicine" @bind-Field="@context.MedicineName"/>
    <Column @bind-Field="@context.Expiration" Format="yyyy-MM-dd"/>
    @if(PeopleType == PersonType.Pharmaceut)
    {
        <ActionColumn>
            <Space>
                <Button Type="@ButtonType.Primary" OnClick="@(async () => await HandleFulfill(context))">Fulfill prescription</Button>
            </Space>
        </ActionColumn>
    }
</Table>

@code {
    [Parameter]
    public PersonType? PeopleType { get; set; } = null;

    [Parameter]
    public IEnumerable<PrescriptionDto>? Prescriptions { get; set; }

    [Parameter]
    public EventCallback<PrescriptionDto> OnFulfillClicked { get; set; }

    async Task HandleFulfill(PrescriptionDto prescription)
    {
        if (OnFulfillClicked.HasDelegate)
            await OnFulfillClicked.InvokeAsync(prescription);
    }
}
