


<Table TItem="PrescriptionDto" DataSource="Prescriptions">
    <Column @bind-Field="context.Id"/>
    @if(PeopleType != PersonType.Doctor)
    {
        <Column Title="Doctor" TData="string">
            @context.Doctor.FirstName @context.Doctor.LastName
        </Column>
    }
    @if(PeopleType != PersonType.Patient)
    {
        <Column Title="Patient" TData="string">
            @context.Patient.FirstName @context.Patient.LastName
        </Column>
    }
    <Column Title="Medicine" @bind-Field="@context.MedicineName"/>
    <Column @bind-Field="@context.Expiration"/>
</Table>

@code {
    [Parameter]
    public PersonType? PeopleType { get; set; } = null;


    [Parameter]
    public IEnumerable<PrescriptionDto>? Prescriptions { get; set; }

    

    
}
